.version.harvel_iten {
	color: #000015;
	background-color: #0127E7;
}
#page {
	z-index: 1;
	min-height: 5551px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-top: 88px;
	padding-bottom: 166px;
	width: 100%;
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
}
#u3549-4 {
	z-index: 2;
	min-height: 52px;
	background-color: transparent;
	font-size: 25px;
	line-height: 42px;
	position: relative;
	width: 19%;
	margin-left: 3.19%;
	margin-top: -5%;
}
#u3552 {
	z-index: 6;
	height: 2px;
	background-color: #555555;
	top: -30px;
	margin-bottom: -8px;
	position: relative;
	width: 97.5%;
	margin-left: 1.25%;
}
#ppu3572-4 {
	z-index: 0;
	margin-top: 175px;
	width: 80%;
	margin-left: 13.44%;
}
#pu3572-4 {
	z-index: 11;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 110px;
	width: 50.4%;
	margin-left: 49.61%;
}
#u3572-4 {
	z-index: 11;
	min-height: 45px;
	background-color: transparent;
	font-size: 48px;
	line-height: 58px;
	font-weight: bold;
	position: relative;
	width: 65.43%;
	margin-left: 19.23%;
}
#u3575-4 {
	z-index: 15;
	min-height: 42px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	margin-top: 8px;
	position: relative;
	width: 31.01%;
	margin-left: 25.9%;
}
#u3725-4 {
	z-index: 91;
	min-height: 35px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	margin-top: 27px;
	position: relative;
	width: 53.65%;
	margin-left: 22.95%;
}
#u3731-4 {
	z-index: 99;
	min-height: 35px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	top: -8px;
	margin-bottom: -8px;
	position: relative;
	width: 53.65%;
	margin-left: 23.26%;
}
#u3728-4 {
	
	z-index: 95;
	min-height: 35px;
	background-color: transparent;
	font-size: 18px;
	line-height: 22px;
	position: relative;
	width: 100%;
}
#u3555 {
	z-index: 7;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 20%;
	margin-top: -80px;
}
#u3562 {
	z-index: 9;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
	width: 19.54%;
	left: 14.61%;
}
#pu3578 {
	z-index: 19;
	margin-top: 102px;
	width: 97.5%;
	margin-left: 1.25%;
}
#u3578 {
	z-index: 19;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}
#u3588-4 {
	z-index: 21;
	min-height: 54px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 43px;
	font-size: 36px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 220px;
	width: 40.2%;
	left: 8.34%;
}
#u3591-4 {
	z-index: 25;
	min-height: 103px;
	background-color: transparent;
	font-size: 18px;
	color: #FFFFFF;
	line-height: 22px;
	position: relative;
	margin-right: -10000px;
	margin-top: 320px;
	width: 28.98%;
	left: 8.34%;
}
#u3594 {
	z-index: 29;
	background-color: #CCCCCC;
	padding-bottom: 0px;
	position: relative;
	width: 97.5%;
	margin-left: 1.25%;
}
#u3594_position_content {
	margin-bottom: -2px;
	padding-top: 53px;
	width: 100%;
}
#pu3607-4 {
	z-index: 32;
	width: 28.53%;
	margin-left: 38.21%;
}
#u3607-4 {
	z-index: 32;
	min-height: 84px;
	background-color: transparent;
	font-size: 43px;
	line-height: 52px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}
#u3613-4 {
	z-index: 36;
	min-height: 84px;
	background-color: transparent;
	font-size: 43px;
	line-height: 52px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 55px;
	width: 81.8%;
	left: 15.29%;
}
#u3616-4 {
	z-index: 40;
	min-height: 55px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	position: relative;
	width: 46.8%;
	margin-left: 31.61%;
}
#u3597 {
	z-index: 30;
	background-color: transparent;
	margin-top: 113px;
	position: relative;
	width: 67.7%;
	left: 0.13%;
}
#pu3619 {
	z-index: 44;
	margin-top: 2px;
	width: 97.5%;
	margin-left: 1.13%;
}
#u3619 {
	z-index: 44;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: -0.5px;
	width: 100%;
}
#u3639 {
	z-index: 46;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 354px;
	width: 51.35%;
	left: 48.66%;
}
#u3659-4 {
	z-index: 48;
	min-height: 65px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 43px;
	font-size: 36px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 64px;
	width: 34.68%;
	left: 34.94%;
}
#u3665-4 {
	text-align: center;
	z-index: 52;
	min-height: 153px;
	background-color: transparent;
	font-size: 18px;
	color: #FFFFFF;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 149px;
	width: 66.22%;
	left: 18.72%;
}
#u3668 {
	z-index: 56;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 418px;
	width: 31.99%;
	left: 8.85%;
}
#u3678 {
	z-index: 58;
	background-color: #CCCCCC;
	position: relative;
	width: 97.5%;
	height: 770px;
	margin-left: 1.13%;
}
#pu3691-4 {
	z-index: 61;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 361px;
	width: 34.62%;
	margin-left: 9.68%;
}
#u3691-4 {
	z-index: 61;
	min-height: 46px;
	background-color: transparent;
	font-size: 36px;
	line-height: 43px;
	font-weight: bold;
	position: relative;
	width: 100%;
}
#u3694-4 {
	z-index: 65;
	min-height: 188px;
	background-color: transparent;
	font-size: 18px;
	line-height: 24px;
	margin-top: 30px;
	position: relative;
	width: 87.23%;
	margin-left: 0.19%;
}
#u3681 {
	z-index: 59;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 153px;
	width: 19.36%;
	left: 70%;
}
#pu3697 {
	z-index: 59;
	width: 92.32%;
	margin-left: 1.13%;
}
#u3697 {
	z-index: 69;
	background-color: #7F7F7F;
	position: relative;
	margin-right: -10000px;
	width: 52.81%;
	height: 712px;
}
#u3700 {
	z-index: 70;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 236px;
	width: 79.36%;
	left: 153px;
}
#u3555_img, #u3562_img, #u3578_img, #u3597_img, #u3619_img, #u3639_img, #u3668_img, #u3681_img, #u3700_img {
	width: 100%;
}
#pu3707-4 {
	z-index: 72;
	padding-bottom: 0px;
	margin-right: -10000px;
	margin-top: 233px;
	width: 37.45%;
	margin-left: 62.56%;
}
#u3707-4 {
	z-index: 72;
	min-height: 63px;
	background-color: transparent;
	font-size: 36px;
	line-height: 43px;
	position: relative;
	width: 100%;
}
#u3710-4 {
	z-index: 76;
	min-height: 210px;
	background-color: transparent;
	font-size: 18px;
	line-height: 24px;
	margin-top: 19px;
	position: relative;
	width: 86.8%;
	margin-left: 0.55%;
}
#u3716 {
	z-index: 80;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 122px;
	position: relative;
	width: 48.5%;
	margin-left: 32.19%;
}
#u3717-5 {
	z-index: 81;
	min-height: 67px;
	background-color: #29ABE2;
	border-radius: 37px;
	font-size: 36px;
	color: #FFFFFF;
	line-height: 43px;
	position: relative;
	margin-right: -10000px;
	margin-top: 71px;
	width: 45.75%;
	left: 25.65%;
}
#u3717-3 {
	line-height: 0px;
}
#u3717 {
	line-height: 43px;
}
#u3717-2 {
	font-size: 24px;
	line-height: 29px;
}
#u3718-5 {
	z-index: 86;
	min-height: 71px;
	background-color: transparent;
	font-size: 36px;
	line-height: 43px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}
.css_verticalspacer .verticalspacer {
	height: calc(100vh - 5805px);
}
#muse_css_mq, .html {
	background-color: #FFFFFF;
}
body {
	position: relative;
	min-width: 320px;
}
