.version.harvel_s2 {
	color: #0000EF;
	background-color: #3CA6BD;
}
#page {
	z-index: 1;
	height: 6302px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-top: 80px;
	padding-bottom: 175.1499999999951px;
	width: 100%;
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
}
#menu{
	z-index: 2;
	width: 28.32%;
	font-size: 30px;
	margin-left: 4.38%;
	margin-top: -60px;
}
#u4014-4 {
	z-index: 2;
	min-height: 38px;
	background-color: transparent;
	font-size: 26px;
	line-height: 31px;
	position: relative;
	margin-right: -10000px;
	width: 21.57%;
}
#u4017-4 {
	z-index: 6;
	min-height: 48px;
	background-color: transparent;
	font-size: 26px;
	line-height: 31px;
	position: relative;
	margin-right: -10000px;
	width: 38.42%;
	left: 30.47%;
}
#u4020-4 {
	z-index: 10;
	min-height: 48px;
	background-color: transparent;
	font-size: 26px;
	line-height: 31px;
	position: relative;
	margin-right: -10000px;
	width: 33.56%;
	left: 66.45%;
}
#u4023 {
	z-index: 14;
	height: 2px;
	background-color: #555555;
	position: relative;
	width: 97.5%;
	margin-left: 1.25%;
	margin-top: -0.1%;
}
#ppu4036-4 {
	z-index: 0;
	margin-top: 107px;
	width: 77.32%;
	margin-left: 11.32%;
}
#pu4036-4 {
	z-index: 17;
	margin-right: -10000px;
	margin-top: 137px;
	width: 31.45%;
}
#u4036-4 {
	z-index: 17;
	min-height: 61px;
	background-color: transparent;
	font-size: 48px;
	line-height: 58px;
	font-weight: bold;
	position: relative;
	width: 87.41%;
	margin-left: 9.52%;
}
#u4039-4 {
	z-index: 21;
	min-height: 42px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	position: relative;
	width: 61.44%;
	margin-left: 18.26%;
}
#pu4042-4 {
	z-index: 25;
	margin-top: 37px;
	width: 100%;
}
#u4042-4 {
	z-index: 25;
	min-height: 39px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	position: relative;
	margin-right: -10000px;
	width: 61.7%;
	left: 18%;
}
#u4045-4 {
	z-index: 29;
	min-height: 39px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 57px;
	width: 82.01%;
	left:14.72%;
}
#u4048-4 {
	z-index: 33;
	min-height: 39px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 30px;
	width: 100%;
}
#u4026 {
	z-index: 15;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 49.16%;
	left: 50.85%;
}
#pu4066 {
	z-index: 37;
	margin-top: 120px;
	width: 97.5%;
	margin-left: 1.25%;
}
#u4066 {
	z-index: 37;
	height: 1px;
	position: relative;
	margin-right: -10000px;
	margin-top: 13px;
	width: 1.67%;
	left: 25.33%;
}
.ie #u4066 {
	background-color: #FFFFFF;
	opacity: 0.01;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
	filter: alpha(opacity=1);
}
#u4075 {
	z-index: 38;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}
#u4085-4 {
	z-index: 40;
	min-height: 54px;
	background-color: transparent;
	font-size: 36px;
	line-height: 43px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 168px;
	width: 33.79%;
	left: 7.63%;
}
#u4088-4 {
	z-index: 44;
	min-height: 48px;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 215px;
	width: 21.16%;
	left: 13.47%;
}
#u4091-4 {
	z-index: 48;
	min-height: 125px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 328px;
	width: 31.16%;
	left: 10.18%;
}
#u4104-4 {
	z-index: 54;
	min-height: 54px;
	background-color: transparent;
	font-size: 36px;
	line-height: 43px;
	font-weight: bold;
	margin-top: 84px;
	position: relative;
	width: 54.38%;
	margin-left: 26.5%;
}
#pu4107-5 {
	z-index: 58;
	margin-top: 34px;
	width: 66.88%;
	margin-left: 20.19%;
}
#u4107-5 {
	z-index: 58;
	min-height: 47px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 98.51%;
}
#u4107-2 {
	line-height: 17px;
}
#u4110-4 {
	z-index: 63;
	min-height: 44px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 34px;
	width: 97.39%;
	left: 2.62%;
}
#u4113-4 {
	z-index: 67;
	min-height: 54px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 64px;
	width: 73.84%;
	left: 10.1%;
}
#u4094 {
	z-index: 52;
	background-color: transparent;
	margin-top: 77px;
	position: relative;
	width: 97.5%;
	margin-left: 1.25%;
}
#u4116 {
	z-index: 71;
	background-color: #CCCCCC;
	padding-top: 90px;
	padding-bottom: 107px;
	margin-top: 64px;
	position: relative;
	width: 97.5%;
	margin-left: 1.25%;
}
#u4126-5 {
	z-index: 74;
	min-height: 58px;
	background-color: transparent;
	position: relative;
	width: 30.13%;
	margin-left: 37.54%;
}
#u4126-2 {
	
	font-size: 36px;
	line-height: 43px;
	font-weight: bold;
}
#u4129-4 {
	z-index: 79;
	min-height: 56px;
	background-color: transparent;
	font-size: 26px;
	line-height: 31px;
	position: relative;
	width: 20.13%;
	margin-left: 41.3%;
}
#u4135-4 {
	text-align: center;
	z-index: 83;
	min-height: 158px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	position: relative;
	width: 53.53%;
	margin-left: 24.04%;
}
#pu4119 {
	z-index: 72;
	margin-top: 30px;
	width: 69.43%;
	margin-left: 16.86%;
}
#u4119 {
	z-index: 52;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}
#u4138-4 {
	z-index: 87;
	min-height: 70px;
	background-color: transparent;
	font-size: 60px;
	line-height: 72px;
	position: relative;
	margin-right: -10000px;
	margin-top: 18px;
	width: 10.35%;
	left: 1.85%;
}
#u4141-4 {
	z-index: 91;
	min-height: 31px;
	background-color: transparent;
	font-size: 30px;
	line-height: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 26px;
	width: 3.14%;
	left: 12.19%;
}
#u4144-4 {
	z-index: 95;
	min-height: 34px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 63px;
	width: 10.07%;
	left: 12.19%;
}
#u4147-4 {
	z-index: 99;
	min-height: 74px;
	background-color: transparent;
	font-size: 60px;
	line-height: 72px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	width: 12.29%;
	left: 81.26%;
}
#u4153-4 {
	z-index: 103;
	min-height: 41px;
	background-color: transparent;
	font-size: 30px;
	line-height: 36px;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	width: 5.73%;
	left: 90.77%;
}
#u4156-4 {
	z-index: 107;
	min-height: 34px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 56px;
	width: 6.47%;
	left: 90.77%;
}
#u4159 {
	z-index: 111;
	background-color: transparent;
	padding-top: 90px;
	padding-bottom: 55.30000000000018px;
	position: relative;
	width: 97.5%;
	margin-left: 1.25%;
}
#u4162-4 {
	z-index: 112;
	min-height: 67px;
	background-color: transparent;
	font-size: 36px;
	line-height: 43px;
	font-weight: bold;
	position: relative;
	width: 35.26%;
	margin-left: 36.61%;
}
#u4165-4 {
	text-align: center;
	z-index: 116;
	min-height: 35px;
	background-color: transparent;
	font-size: 18px;
	line-height: 24px;
	margin-top: 17px;
	position: relative;
	width: 73.59%;
	margin-left: 15.44%;
}
#u4168-4 {
	z-index: 120;
	min-height: 43px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	position: relative;
	width: 69.11%;
	margin-left: 20.45%;
}
#u4171-4 {
	z-index: 124;
	min-height: 41px;
	background-color: transparent;
	font-size: 20px;
	line-height: 24px;
	top: -9px;
	margin-bottom: -9px;
	position: relative;
	width: 60.07%;
	margin-left: 23.08%;
}
#pu4174 {
	z-index: 128;
	margin-top: 148px;
	width: 52.5%;
	margin-left: 39.68%;
}
#u4174 {
	z-index: 128;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	width: 97.69%;
	left: 2.32%;
}
#u4181 {
	z-index: 130;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 18.44%;
}
#u4191 {
	z-index: 132;
	background-color: #CCCCCC;
	padding-top: 103px;
	padding-bottom: 144.25px;
	margin-top: 33px;
	position: relative;
	width: 97.5%;
	margin-left: 1.25%;
}
#pu4204-4 {
	z-index: 135;
	width: 59.75%;
	margin-left: 24.68%;
}
#u4204-4 {
	z-index: 135;
	min-height: 67px;
	background-color: transparent;
	font-size: 36px;
	line-height: 43px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	width: 66.42%;
	left: 17.28%;
}
#u4207-4 {
	z-index: 139;
	min-height: 51px;
	background-color: transparent;
	font-size: 18px;
	line-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 56px;
	width: 100%;
	left: 4%;
}
#u4194 {
	z-index: 133;
	background-color: transparent;
	margin-top: 84px;
	position: relative;
	width: 47.5%;
	margin-left: 28.47%;
}
#pu4210-4 {
	z-index: 143;
	margin-top: 77px;
	width: 73.44%;
	margin-left: 16.44%;
}
#u4210-4 {
	z-index: 143;
	min-height: 85px;
	background-color: transparent;
	font-size: 36px;
	line-height: 43px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	width: 37.11%;
	left: 28.86%;
}
#u4213-4 {
	text-align: center;
	z-index: 147;
	min-height: 58px;
	background-color: transparent;
	font-size: 18px;
	line-height: 24px;
	position: relative;
	margin-right: -10000px;
	margin-top: 66px;
	width: 100%;
}
#u4216-7 {
	z-index: 151;
	min-height: 56px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 102px;
	width: 86.05%;
	left: 3.58%;
}
#u4107, #u4216-2 {
	font-size: 20px;
	line-height: 24px;
}
#u4219 {
	z-index: 158;
	background-color: transparent;
	margin-top: 56px;
	position: relative;
	width: 90%;
	margin-left: 5%;
}
#u4026_img, #u4075_img, #u4094_img, #u4119_img, #u4174_img, #u4181_img, #u4194_img, #u4219_img {
	width: 100%;
}
#u4229 {
	z-index: 160;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	margin-top: 107px;
	position: relative;
	width: 50.32%;
	margin-left: 27.44%;
}
#u4230-5 {
	z-index: 161;
	min-height: 70px;
	background-color: #29ABE2;
	border-radius: 37px;
	font-size: 36px;
	color: #FFFFFF;
	line-height: 43px;
	position: relative;
	margin-right: -10000px;
	margin-top: 130px;
	width: 45.72%;
	left: 25.72%;
}
#u4107-3, #u4230-3 {
	line-height: 0px;
}
#u4230 {
	line-height: 43px;
}
#u4230-2 {
	font-size: 24px;
	line-height: 29px;
}
#u4231-5 {
	z-index: 166;
	min-height: 89px;
	background-color: transparent;
	font-size: 36px;
	line-height: 43px;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}
.css_verticalspacer .verticalspacer {
	height: calc(100vh - 6858px);
}
#muse_css_mq, .html {
	background-color: #FFFFFF;
}
body {
	position: relative;
	min-width: 320px;
}
