.version.mtb {
	color: #00000B;
	background-color: #C72564;
}
#page {
	z-index: 1;
	min-height: 1837.95px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-top: 85px;
	padding-bottom: 128.04999999999995px;
	width: 100%;
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
}
#menu2{
	z-index: 2;
	width: 97.5%;
	margin-left: 1.65%;
	margin-top: -4%;
	
}
#u3895-4 {
	z-index: 2;
	min-height: 19px;
	background-color: transparent;
	font-size: 18px;
	line-height: 31px;
	position: relative;
	margin-right: -10000px;
	width: 4%;
	left: 1.22%;
}
#u3898-4 {
	z-index: 6;
	min-height:9px;
	background-color: transparent;
	font-size: 18px;
	line-height:39px;
	position: relative;
	margin-right: -10000px;
	width: 5%;
	margin-top:-67px;
	margin-left:14%;
}
#u3907 {
	z-index: 10;
	height: 5px;
	background-color: #CCCCCC;
	position: relative;
	margin-right: -10000px;
	margin-top: 39px;
	width: 100%;
}
#u3922-4 {
	z-index: 11;
	min-height: 9px;
	background-color: transparent;
	font-size: 18px;
	line-height: 28px;
	position: relative;
	margin-right: -10000px;
	
	width: 5%;
	margin-left:6.5%;
}
#pu3956 {
	z-index: 15;
	margin-top:-25px;
	width: 97.5%;
	margin-left: 1.25%;
}
#u3956 {
	z-index: 10;
	background-color: #ccc;
	position: relative;
	margin-right: -10000px;
	width: 100%;
	height: 750px;
}
#u3973 {
	z-index: 30;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 270px;
	width: 70.9%;
	left: 4.49%;
}
#u3983-4 {
	z-index: 19;
	min-height: 68px;
	background-color: transparent;
	font-size: 36px;
	line-height: 43px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 163px;
	width: 33.92%;
	left: 64.94%;
}
#u3986-4 {
	z-index: 23;
	min-height: 50px;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 231px;
	width: 24.04%;
	left: 68.79%;
}
#u3989-4 {
	z-index: 27;
	min-height: 55px;
	background-color: transparent;
	font-size: 40px;
	line-height: 48px;
	margin-top: 72px;
	position: relative;
	width: 11.94%;
	margin-left: 45.69%;
}
#u3992-4 {
	z-index: 31;
	min-height: 55px;
	background-color: transparent;
	font-size: 27px;
	line-height: 32px;
	margin-top: 7px;
	position: relative;
	width: 36.44%;
	margin-left: 36.88%;
}
#u3998 {
	z-index: 35;
	background-color: transparent;
	margin-top: 80px;
	position: relative;
	width: 50%;
	margin-left: 24.69%;
}
#u3956_img, #u3973_img, #u3998_img {
	width: 100%;
}
#u4008-4 {
	z-index: 37;
	min-height: 48px;
	background-color: transparent;
	font-size: 26px;
	line-height: 31px;
	font-weight: bold;
	margin-top: 88px;
	position: relative;
	width: 15%;
	margin-left: 45.88%;
}
.css_verticalspacer .verticalspacer {
	height: calc(100vh - 2051px);
}
#muse_css_mq, .html {
	background-color: #FFFFFF;
}
body {
	position: relative;
	min-width: 320px;
}
