.version.wireless_charger_convertible_2017 {
	color: #0000FE;
	background-color: #936A28;
}
#page {
	z-index: 1;
	min-height: 6472.512345499999px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	padding-bottom: 0px;
	width: 100%;
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
}
#page_position_content {
	padding-top: 78px;
	padding-bottom: 164px;
	width: 100%;
}
#u4336-4 {
	z-index: 5;
	background-color: transparent;
	font-size: 30px;
	line-height: 31px;
	font-weight: normal;
	position: relative;
	width: 25%;
	margin-top: -3%;
	margin-left: 3.19%;
}
#u4339 {
	z-index: 9;
	height: 2px;
	background-color: #555555;
	margin-top: -5px;
	position: relative;
	width: 97.5%;
	margin-left: 1.25%;
}
#pu4342 {
	z-index: 10;
	margin-top: 147px;
	width: 85.82%;
	margin-left: 10.63%;
}
#u4342 {
	z-index: 10;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 52.3%;
}
#pu4349-4 {
	z-index: 12;
	margin-right: -10000px;
	margin-top: 47px;
	width: 42.25%;
	margin-left: 57.76%;
}
#u4349-4 {
	z-index: 12;
	background-color: transparent;
	font-size: 35px;
	line-height: 36px;
	font-weight: bold;
	position: relative;
	width: 120%;
}
#u4352-4 {
	z-index: 16;
	min-height: 42px;
	background-color: transparent;
	font-size: 24px;
	line-height: 29px;
	margin-top: 24px;
	position: relative;
	width: 55.01%;
	margin-left: 21.14%;
}
#pu4371 {
	z-index: 20;
	margin-top: 92px;
	width: 97.5%;
	margin-left: 1.25%;
}
#u4371 {
	z-index: 20;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}
#u4381-9 {
	z-index: 22;
	min-height: 205px;
	background-color: transparent;
	font-size: 36px;
	line-height: 38px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 261px;
	width: 27.31%;
	left: 10.39%;
}
#pu4394 {
	z-index: 31;
	margin-top: 145px;
	width: 79.5%;
	margin-left: 11.07%;
}
#u4394 {
	z-index: 31;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 41.44%;
}
#u4404-8 {
	z-index: 33;
	min-height: 87px;
	background-color: transparent;
	font-size: 36px;
	line-height: 38px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 143px;
	width: 39.86%;
	left: 60.15%;
}
#pu4407 {
	z-index: 41;
	width: 97.5%;
	margin-left: 1.25%;
}
#u4407 {
	z-index: 41;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}
#u4417-12 {
	z-index: 43;
	min-height: 296px;
	background-color: transparent;
	font-size: 36px;
	line-height: 38px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 282px;
	width: 32.89%;
	left: 70.45%;
}
#pu4423 {
	z-index: 55;
	width: 97.5%;
	margin-left: 1.25%;
}
#u4423 {
	z-index: 55;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}
#u4420-6 {
	z-index: 57;
	width: 558px;
	background-color: transparent;
	font-size: 36px;
	line-height: 38px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 142px;
	left: 14.24%;
}
#pu4433 {
	z-index: 63;
	width: 97.5%;
	margin-left: 1.25%;
}
#u4433 {
	z-index: 63;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}
#u4449-6 {
	z-index: 65;
	min-height: 103px;
	background-color: transparent;
	font-size: 36px;
	line-height: 38px;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	margin-top: 88px;
	width: 27.06%;
	left: 66.22%;
}
#u4452-4 {
	z-index: 71;
	min-height: 44px;
	background-color: transparent;
	font-size: 18px;
	line-height: 29px;
	position: relative;
	margin-right: -10000px;
	margin-top: 203px;
	width: 27.12%;
	left: 66.74%;
}
#pu4455 {
	z-index: 75;
	width: 97.5%;
	margin-left: 1.25%;
}
#u4455 {
	z-index: 75;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	width: 100%;
}
#u4465-4 {
	z-index: 77;
	min-height: 126px;
	background-color: transparent;
	font-size: 36px;
	color: #FFFFFF;
	line-height: 38px;
	position: relative;
	margin-right: -10000px;
	margin-top: 560px;
	width: 38.66%;
	left: 50.65%;
}
#u4468 {
	z-index: 81;
	background-color: transparent;
	position: relative;
	width: 97.5%;
	margin-left: 1.25%;
}
#u4342_img, #u4371_img, #u4394_img, #u4407_img, #u4423_img, #u4433_img, #u4455_img, #u4468_img {
	width: 100%;
}
.css_verticalspacer .verticalspacer {
	height: calc(100vh - 6473px);
}
#u4324-3 {
	z-index: 2;
	min-height: 45px;
	background-color: transparent;
	margin-top: 82px;
	position: relative;
	width: 0.19%;
	left: -1.25%;
}
#muse_css_mq, .html {
	background-color: #FFFFFF;
}
body {
	position: relative;
	min-width: 320px;
}
